@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Protest Guerrilla';
    src: url('/fonts/ProtestGuerrilla-Regular.woff2') format('woff2'),
         url('/fonts/ProtestGuerrilla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Protest Guerrilla', sans-serif;
  }
  